< % include header % >
<% if (entries.length) { %>
    <% entries.forEach(function(entry)  { %>
        <div class="panel panel-panel-default">
            <div class="panel-heading">
                <div class="text-muted pull right"></div>
            </div>
        </div>
    })

}